@media (max-width: 1200px) {
   .promo {
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 18px;
        }
   }
}

@media (max-width: 991px) {
    .header {
        padding: 0 15px;
        &__logo {
            img {
                width: 80%;
            }
        }
        &__phone {
            font-size: 15px;
        }
        button {
            width: 135px;
            height: 30px;
            font-size: 11px;
        }
    }
    .promo {
        &__wrapper {
            padding: 0 20px;
            margin-top: 79px;
        }
        &__header {
            font-size: 33px;
        }
        &__subheader {
            font-size: 16px;
            margin: 0;
        }
        &__icons {
            margin-top: 55px;
            width: 360px;
        }
        &__icon {
            width: 92px;
            img {
                margin-bottom: 16px;
            }
        }
    }
    .benefits {
        .title {
            &_benefits {
                font-size: 26px;
            }
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            width: 249px;
            font-size: 13px;
        }
    }
    .consultation {
        .title {
            &_left {
                font-size: 30px;
                line-height: 48px;
                padding: 0 15px;
            }
        }
        &__descr {
            font-size: 18px;
            padding: 0 15px;
        }
        .feed-form {
            padding: 0 15px;
        }
    }
}
@media (max-width: 767px) {
    header {
        .header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 10px;
            &__logo {
                width: 185px;
            }
            &__official {
                text-align: center;
                font-size: 11px;
                span {
                    font-size: 13px;
                }
            }
            &__contacts {
                margin-left: 19px;
            }
            &__phone {
                font-size: 13px;
            }
            
        }
    }
    .promo {
        background: url(../img/bg/main_mobile_bg.jpg) center (center/cover) no-repeat;
        &__wrapper {
            display: flex;
            align-items: center;
        }
        &__link {
            display: block;
            text-align: center;
            margin-top: 10px;
            a {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
        }
    }
    .benefits {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 425px;
            margin-top: 50px;
        }
        &__subtitle {
            margin-top: 20px;
        }
    }
    .consultation {
        padding-bottom: 0;
        .title {
            &_left {
                font-size: 18px;
                line-height: 35px;
                padding: 0 10px;
                text-align: center;
            }
        }
        &__descr {
            padding: 0 10px;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            display: flex;
            align-content: center;
            justify-content: center;
            
        }
        .feed-form {
            padding: 0 64px;
        }
    }
}