@import 'base/_variabless';

* {
	font-family: 'MuseoSansCyrl' sans-serif;
}

a {
	color: #8d8176;
	text-decoration: none;
}

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';