.button {
    width: 150px;
    height: 32px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}